.background-banner {
    background-image: url("../../../public/images/home-banner.jpg");
    height:100%;
    min-height: 600px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    filter: brightness(50%);
}

.banner-logo {
    position: relative;
}

.home-heading {
    position: absolute;
    font-size: 3.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-heading {
    position: absolute;
    font-size: 1.5em;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}